!!! 5
%h2
  = @user.name
%p
  - mystep = Step.find(StepUser.find_by_user_id(@user.id).step_id)
  - myrewards = Array.new
  - got_item_list = ItemsUsers.where(:user_id => @user.id)
  - got_item_list.each{ |x| myrewards.push(Item.find(x.item_id))}
  累計歩数:
  = mystep.total_step
  %br
  未送信歩数:
  = mystep.stock_step
  %br
  %h3
    未受信アイテム

  %br
  %table{:border => '1'}
    %thead
      %tr
        %th アイテム名
        %th 分類
        %th アイテム説明
        %th 入手日時
      - myrewards.each_with_index do |reward,index|
        %tr
          %td= reward.name
          %td= reward.classification
          %td= reward.description
          %td= got_item_list[index].created_at.in_time_zone('Tokyo')
