%h1 Listing items

%table{:style => "border: 1px; width 100%"}
  %thead
    %tr
      %th Name
      %th Effective term
      %th Effective value
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.effective_term
        %td= item.effective_value
        %td= item.description
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
